<html>

<head>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>


<body>
<div class = 'pane'>
<h1>Movies</h1>

<a href="{{url_for('newMovie')}}" > <h3> Create a New Movie </h3> </a>

{% for movie in movies %}



<a href = "{{url_for('movie', movie_title = movie.title)}}"> <p>{{movie.title}}</p></a>
    {% if movieCreator == movie.created_by %}
         <p><a href = "{{url_for('editMovie',movie_title = movie.title)}}">Edit Movie</a></p>
         <p><a href = "{{url_for('deleteMovie',movie_title = movie.title)}}">delete Movie</a></p>
    {% endif %}


{% endfor %}

</div>
</body>

</html>
