<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/custom.css') }}">
    <title>My Movie Catalog</title>
   
</head>

<body>
        <div class="container-fluid">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand">Movie Catalog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{url_for('showCategories')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('showMovies')}}">Movies</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            {%if 'username' in session %}
                            <span class="navbar-text">
                                logged in as: {{session['email']}}
                            </span>
                            {% endif %} {%if 'username' not in session %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('login')}}">Log In</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </nav>
                {%if 'username' in session %}
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" href="{{url_for('newCategory')}}" role="button">Add new Category</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="{{url_for('searchMovie')}}" role="button">Add new Movie</a>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <div class="card-columns">
                            <!--<div class="card-columns" style="column-count: 5;">-->
                            {% for movie in movies %}

                            <div class="card">
                                <a href="{{url_for('movie', movie_title = movie.title)}}">
                                    <img class="card-img-top" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title">{{movie.title}}</h6>
                                    <p class="card-text">{{movie.overview}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Release Date: {{movie.release_date}}</li>
                                    <li class="list-group-item">Rating: {{movie.vote_average}}</li>
                                    <li class="list-group-item">Original Language: {{movie.original_language}}</li>
                                </ul>
                                 {% if 'username' in session %} {% if session['email'] == movie.created_by %}
                                <div class="btn-toolbar">
                                    <a href="{{url_for('editMovie',movie_title = movie.title)}}" class="btn btn-primary button-width" role="button" aria-pressed="true">Edit</a>
                                
                                    <a href="{{url_for('deleteMovie',movie_title = movie.title)}}" class="btn btn-primary button-width" role="button" aria-pressed="true">Delete</a>
                                </div>
                                {% endif %} {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>