<html>
<head>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>

<body>
<h1> Are you sure you want to delete movie: {{item.title}} from database? </h1>

<form action="#" method = 'post'>



<a href="{{url_for('showCatChar', catalog_id = catChar.category_id ,char_id = catChar.id )}}" class="btn btn-primary btn-space">Back</a>
<input class="btn btn-primary btn-space" type="submit" value="Delete" role="button">

<input type='submit' , value='Delete'>


</form>

<a href = 'http://localhost:5000/'> Cancel </a>
</body>

</html>