<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/custom.css') }}">
    <title>My Movie Catalog</title>

</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Movie Catalog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('showCategories')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('showMovies')}}">Movies</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {%if 'username' in session %}
                        <span class="navbar-text">
                            logged in as: {{session['email']}}
                        </span>
                        {% endif %} {%if 'username' not in session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('login')}}">Log In</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </nav>

            <div class="row">
                <div class="col">
                    {% for movie in movie %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{movie.title}}</h5>
                            <p class="card-text">{{movie.overview}}</p>
                            <p class="card-text">
                                <small class="text-muted">Created by: {{movie.created_by}}</small>
                            </p>
                        </div>
                        <img class="card-img-bottom" src="http://image.tmdb.org/t/p/w1280/{{movie.backdrop_path}}" alt="Card image cap">
                    </div>

                    {% if 'username' in session %} {% if session['email'] == movie.created_by %}
                    <div class="btn-toolbar">
                        <a href="{{url_for('editMovie',movie_title = movie.title)}}" class="btn btn-primary button-width" role="button" aria-pressed="true">Edit</a>

                        <a href="{{url_for('deleteMovie',movie_title = movie.title)}}" class="btn btn-primary button-width" role="button" aria-pressed="true">Delete</a>
                    </div>
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>