<html>

<head>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>
<body>
{% for movie in movie %}
	<h1>{{movie.title}}</h1>
	<h3>Overview:</h3>
	<p>{{movie.overview}}</p></a>
	<p>Created by:{{movie.created_by}}</p></a>	
	{{movieCreator}}
	{% if movieCreator == movie.created_by %}
		<p><a href = "{{url_for('editMovie',movie_title = movie.title)}}">Edit Movie</a></p>
		<p><a href = "{{url_for('deleteMovie',movie_title = movie.title)}}">delete Movie</a></p>
	{% endif %}

{% endfor %}






</body>
</html>
