<html>
<head>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>


<body>
<div class = 'login' >
    {%if 'username' not in session %}
          <a href="{{url_for('login')}}" class="button-link">
             Login
          </a>
    {% else %}
           <a href="{{url_for('logout')}}" class="button-link">
            Logout
           </a>
    {% endif %}
</div>
<div class = 'pane'>
<h1>Movie Categories</h1>

{% for category in categories %}



<a href = "{{url_for('categorySelect', category_name = category.name)}}"> <p>{{category.name}}</p></a>


{% endfor %}

<h3>****************Last Movies*******************</h3>
{% for lastMovie in lastMovies %}


 <a href = "{{url_for('movie',movie_title = lastMovie.title)}}"> <p>{{lastMovie.title}}</p></a> 




{% endfor %}


</div>
</body>

</html>
